//
// Override global variables
//

// Theme colors
$primary:       									#44bd32;
$primary-hover:    									green;
$primary-light:    									#E1E9FF;
$primary-inverse:  									#FFFFFF;
