.action-button:hover{
    background-color:transparent !important;
}
.svg{
    background-color: red !important;
}
::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.PrivateTabIndicator-colorSecondary-7{
    background-color: #44bd32 !important;
}