.MuiSlider-thumb{
    filter: drop-shadow(1px 1px 5px #727272);
}

.ass{
    color:rgba(128, 128, 128, 0.356)
}

.MuiSlider-thumb Bar-thumb-57.MuiSlider-thumbColorPrimary{
    background-color: red !important;
}