.MuiTabs-indicator{
    background-color: #44bd32 !important;
}

.colorsasdasd{
    color: rgba(131, 131, 131, 0.603);
}

.goto-icon{
    cursor: pointer !important;
    transform: rotate(90deg);
}
.goto-icon:hover{
opacity: 100% !important;
}