.Toastify__toast.Toastify__toast--error {
  border-radius: 10px;
}

.MuiBottomNavigationAction-root {
  font-size: 14px !important;
  opacity: "40%";
}

// .Mui-selected	{
//     font-weight: bold !important;
// }
